<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TimeSheet</title>
    <meta name="description" content="">
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.min.css">
	<link rel="stylesheet" href="styles/common.css">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/angular-messages/angular-messages.js"></script>
	<script src="bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="bower_components/angular-material/angular-material.min.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
	<script src="bower_components/moment/moment.js"></script>
	<script src="bower_components/moment-range/lib/moment-range.js"></script>
	<script src="app/directives/loadMaskDirective.js"></script>
	<script src="app/directives/numbersOnly.js"></script>
	<script src="app/directives/errorMessage.js"></script>
	<script src="app/directives/toolTip.js"></script>
	<script src="app/factory/httpInterceptorFactory.js"></script>
	
	<script src="app/factory/httpFactory.js"></script>
	<script src="app/modules/timesheetPage/timeSheetCntrl.js"></script>
	<script src="app/modules/profile/profileCntrl.js"></script>
	<script src="app/userInit.js"></script>
	<script src="app/app.js"></script>
	
</head>
 <body class="layout-column" loading-mask tooltip ng-controller="appCntrl" ng-clock>
	<md-toolbar class="toolbar" style="display:none">
		<div class="md-toolbar-tools">
			<span>TIme Sheet</span>
			<!-- fill up the space between left and right area -->
			<span flex></span>
			<div class="layout-row">
				<md-menu-bar class="user-menu">
					<md-menu style="height:60px;">
						<button style="height:55px;" ng-click="$mdOpenMenu()" class="layout-row btn">
							<div>
								<svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
									<path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"/>
								</svg>
							</div>
						</button>
						<md-menu-content style="min-width:120px;">
								<md-menu-item>
									<md-button>
										<md-icon md-svg-src="/images/userProfile.svg"></md-icon>
										Profile
									</md-button>
								</md-menu-item>
						</md-menu-content>
					</md-menu>
					<md-menu style="height:64px;" class="openmenu-background">
						<button style="height:64px;" ng-click="$mdOpenMenu()" class="layout-row btn">
							<div class="user-profile">
								<img style="border-radius:50%;margin-top:3px;margin-left:3px;margin-right:3px;" width="30" height="30" src="/images/user.jpg">
							</div>
							</button>
							<md-menu-content style="min-width:120px;">
								<md-menu-item>
									<md-button ng-click="goToprofile()">
										<md-icon md-svg-src="/images/userProfile.svg"></md-icon>
										Profile
									</md-button>
								</md-menu-item>
								<md-menu-item>
									<md-button ng-click="changePassword()">
										<md-icon md-svg-src="/images/settings.svg"></md-icon>
										ChangePassword
									</md-button>
								</md-menu-item>
								<md-menu-divider></md-menu-divider>
								<md-menu-item>
									<md-button ng-click="logout()">
										<md-icon md-svg-src="/images/logout.svg"></md-icon>
										Logout
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>

					</md-menu-bar>
				</div>
			</div>
		</md-toolbar>
    <div ui-view class="layout-column flex content"></div>
</body>
</html>
