<div layout="column" layout-fill ng-clock style="overflow:auto">
<div class="md-whiteframe-6dp flex" style="margin:20px;" layout="column">
	<md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools" style="background-color:#498fd1">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="profile.goBack()">
          <md-icon md-svg-icon="/images/back.svg"></md-icon>
        </md-button>
        <h2>
          <span>User Info</span>
        </h2>
      </div>
    </md-toolbar>
  <md-content layout-padding flex>
    <div>
      <form name="userForm" class="inputdemoIcons">
        <!-- <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Company (Disabled)</label>
            <input ng-model="user.company" disabled>
          </md-input-container>
        </div> -->
		<div layout-gt-xs="row">
		<md-input-container flex-gt-sm style="margin:10px;">
			<label>Email</label>
			<md-icon md-svg-src="/images/email.svg" class="name"></md-icon>
			<input name="email" ng-required="true" ng-model="profile.user.emailAddress" type="email">
			<div ng-messages="userForm.email.$error">
				 <div ng-message="required">This Field is required!</div>
				 <div ng-message="email">Enter a valid emailId</div>
			</div>
		</md-input-container>
		<md-input-container flex-gt-sm style="margin:10px;">
			<label>Phone Number</label>
			<md-icon md-svg-src="/images/phone.svg" class="name"></md-icon>
			<input name="phone" ng-required="true" ng-model="profile.user.phoneNo" type="number">
			<div ng-messages="userForm.phone.$error">
				 <div ng-message="required">This Field is required!</div>
			</div>
		</md-input-container>
		</div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm style="margin:10px;">
            <label>First name</label>
			<md-icon md-svg-src="/images/user.svg" class="name"></md-icon>
            <input name="firstname" ng-required="true" ng-model="profile.user.firstName">
			<div ng-messages="userForm.firstname.$error">
				 <div ng-message="required">This Field is required!</div>
			</div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm style="margin:10px;">
            <label>Last Name</label>
            <input ng-model="profile.user.lastName">
          </md-input-container>
        </div>
        <md-input-container class="md-block" style="margin:10px;">
          <label>Address</label>
          <input ng-model="profile.user.address">
        </md-input-container>
        <md-input-container md-no-float class="md-block" style="margin:10px;">
          <input ng-model="profile.user.address2" placeholder="Address 2">
        </md-input-container>
        <!-- <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm style="margin:10px;">
            <label>City</label>
            <input ng-model="profile.user.city">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm style="margin:10px;">
            <label>State</label>
            <md-select ng-model="profile.user.state">
              <md-option ng-repeat="state in profile.states" ng-value="{{state}}">
                {{state}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm style="margin:10px;">
            <label>Postal Code</label>
            <input ng-model="profile.user.postalCode" placeholder="12345">
          </md-input-container>
        </div> -->
      </form>
    </div>
  </md-content>	
	<div class="btn-toolbar" layout="column" layout-align="center end">
		<div>
		<md-button class="md-raised md-primary" style="margin-right:10px;:" ng-click="profile.saveProfileData()">
		Save
		</md-button>
		<!-- <md-button class="md-raised md-primary" ng-click="">
		Submit
		</md-button> -->
		</div>
	</div>
</div>
</div>