<md-toolbar class="toolbar">
  <div class="md-toolbar-tools">
    <span>TIme Sheet</span>
    <!-- fill up the space between left and right area -->
    <span flex></span>
    <div class="layout-row">
      <md-menu-bar>
        <!-- Notification -->
        <md-menu>
          <button ng-click="$mdMenu.open($event)" class="layout-row btn">
            <md-icon class="material-icons">notifications</md-icon>
          </button>
          <md-menu-content>
            <md-menu-item ng-repeat="notification in $ctrl.notifications">
              <md-button>
                {{ notification.message }}
                -
                <small>{{ notification.time }}</small>
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button>View All Notifications</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <md-menu class="openmenu-background">
          <button ng-click="$mdMenu.open($event)" class="layout-row btn">
            <md-icon class="material-icons">account_circle</md-icon>
          </button>
          <md-menu-content style="min-width: 120px">
            <md-menu-item ng-repeat="option in $ctrl.profileMenuOptions">
              <md-button>
                <md-icon class="material-icons">{{ option.icon }}</md-icon>
                {{ option.label }}
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="logout()">
                <md-icon class="material-icons">logout</md-icon>
                Logout
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-menu-bar>
    </div>
  </div>
</md-toolbar>
