.nav-container {
  height: 100%;
  width: 200px;
}

.nav-bg {
  background-color: var(--nav-bg-color);
}

.nav-header-section {
  height: 65px;
}

.nav-header-separator {
  height: 2px;
  background-color: #20252d;
}

.nav-list-item {
  padding-left: 5px;
  padding-top: 5px;
}

.nav-list-item-container {
  color: white;
  gap: 4px;
}

.nav-list-item-container md-icon {
  color: white;
}
