<nav class="layout-column h-100 nav-container">
  <div class="nav-header-section nav-bg"></div>
  <div class="nav-header-separator"></div>
  <div class="flex nav-bg">
    <md-list flex>
      <md-list-item
        class="md-1-line"
        ng-style="
          selectedIndex == $index
            ? { 'background-color': '#444852' }
            : { 'background-color': '' }
        "
        ng-repeat="item in $ctrl.items track by $index"
        ng-click="$ctrl.navClick(item,$index)"
      >
        <div class="layout-row">
          <md-icon class="material-icons">{{ item.icon }}</md-icon>
          <div
            style="padding-left: 5px; padding-top: 5px"
            class="md-list-item-text admin-leftnav"
            layout="column"
          >
            {{ item.name }}
          </div>
        </div>
      </md-list-item>
    </md-list>
  </div>
</nav>
