<div layout="column" layout-fill ng-clock class="search-view">
		<div class="md-whiteframe-8dp layout-row table-container" style="margin:10px;padding:10px;min-height:70px;">
			<md-datepicker ng-model="vm.search.fromDate" md-placeholder="Enter From Date" ></md-datepicker>
			<md-datepicker  ng-model="vm.search.toDate" md-placeholder="Enter To Date" ></md-datepicker>
			<md-input-container class="flex" style="margin:5px;">
				<md-select ng-model="vm.search.users" placeholder="Select Users">
					<md-option ng-value="opt" ng-repeat="opt in vm.userData">{{ opt.firstName  }}</md-option>
				</md-select>
			</md-input-container>
			<md-input-container class="flex" style="margin:5px;">
				<md-select ng-model="vm.search.client" placeholder="Select Client" >
					<md-option ng-value="opt.clientName" ng-repeat="opt in vm.clientList">{{ opt.clientName}}</md-option>
			</md-select>
			</md-input-container >
			<md-input-container class="flex" style="margin:5px;">
				<md-select ng-model="vm.search.project" placeholder="Select Project" >
					<md-option ng-value="opt.projectName" ng-repeat="opt in vm.projects">{{ opt.projectName  }}</md-option>
				</md-select>
			</md-input-container >
			<md-input-container class="flex" style="margin:5px;">
				<md-select ng-model="vm.search.projectType" placeholder="Select Project Type">
					<md-option ng-value="opt" ng-repeat="opt in vm.projectTypes">{{ opt}}</md-option>
				</md-select>
			</md-input-container>
			<md-button class="md-fab md-primary" ng-click="vm.searchClick()" style="width:46px;height:46px;" aria-label="search">
	          <md-icon style="padding-bottom:10px;" md-svg-src="images/search.svg"></md-icon>
	        </md-button>
		</div>
		<div class="md-whiteframe-8dp flex layout-column" style="margin:10px;">
			<md-table-container>
				<table md-table>
					<thead md-head class="table-header">
						<tr md-row>
							<th width="10%" md-column><span><b>Date</b></span></th>
							<th width="10%" md-column><b>Name</b></th>
							<th width="15%" md-column ><span><b>Clients</b></span></th>
							<th width="20%" md-column ><span><b>Project</b></span></th>
							<th width="20%" md-column><b>Project Type</b></th>
							<th width="10%" md-column><b>Hour's Worked</b></th>
							<th width="20%" md-column><b>Comments</b></th>
						</tr>
					</thead>
				</table>
			</md-table-container>
			<md-content flex>
				<md-table-container>
					<table md-table>
						<tbody md-body>
							<tr style="height:44px;" class="input-container" md-row ng-repeat="data in vm.timedata">
								<td width="10%" md-cell>{{vm.formatDate(data.date)}}</td>
								<td width="10%" md-cell>{{data.firstName}}</td>
								<td md-cell width="15%">
									<md-input-container>
										<md-select ng-model="data.clients" placeholder="Select Client">
											<md-option ng-value="opt.clientName" ng-repeat="opt in vm.clientList">
											{{ opt.clientName}}</md-option>
										</md-select>
										</md-input-container>
								</td>
								<td width="20%" md-cell>
									<md-input-container>
										<md-select ng-model="data.project" placeholder="Select Project">
											<md-option ng-value="opt.projectName" ng-repeat="opt in vm.projects">{{ opt.projectName  }}</md-option>
										</md-select>
										</md-input-container>
									</td>
									<td width="20%" md-cell>
										<md-input-container>
											<md-select ng-model="data.projectType" placeholder="Select Project Type" ng-disabled="data.submitted==1">
												<md-option ng-value="opt" ng-repeat="opt in vm.projectTypes">{{ opt}}</md-option>
												</md-select>
										</md-input-container>
									</td>
									<td width="10%" md-cell>
										<md-input-container>
											<input ng-model="data.adminTime" >
											</md-input-container>
										</td>
										<td width="20%" md-cell>
											<md-input-container>
												<input ng-model="data.comments">
												</md-input-container>
										</td>
							</tr>
						</tbody>
					</table>
				</md-table-container>
				</md-content>
				<div class="btn-toolbar" layout="column" layout-align="center end">
					<div>
					<md-button class="md-raised md-primary" ng-click="vm.save()">
						Save
					</md-button>
						<md-button class="md-raised md-primary" ng-click="vm.exportToExcel()">
						Export To Excel
					</md-button>
					</div>
				</div>
			</div>
		</div>