<div class="full-size layout-row flex">
  <div class="left-potion"></div>
  <form
    name="registerForm"
    class="registerForm"
    ng-submit="$ctrl.submit(registerForm)"
    novalidate
  >
    <md-card class="md-whiteframe-1dp register-card">
      <md-card-title class="text-center">Register</md-card-title>
      <md-card-content>
        <!-- Username -->
        <md-input-container class="md-block">
          <label>Username</label>
          <input
            type="text"
            name="username"
            ng-model="$ctrl.user.username"
            required
            minlength="3"
          />
          <div
            ng-messages="registerForm.username.$error"
            ng-if="registerForm.username.$touched || registerForm.$submitted"
          >
            <div ng-message="required">Username is required</div>
            <div ng-message="minlength">
              Username must be at least 3 characters
            </div>
          </div>
        </md-input-container>

        <!-- Email -->
        <md-input-container class="md-block">
          <label>Email</label>
          <input
            type="email"
            name="email"
            ng-model="$ctrl.user.email"
            required
          />
          <div
            ng-messages="registerForm.email.$error"
            ng-if="registerForm.email.$touched || registerForm.$submitted"
          >
            <div ng-message="required">Email is required</div>
            <div ng-message="email">Enter a valid email</div>
          </div>
        </md-input-container>

        <!-- Password -->
        <md-input-container class="md-block">
          <label>Password</label>
          <input
            type="password"
            name="password"
            ng-model="$ctrl.user.password"
            required
            minlength="6"
          />
          <div
            ng-messages="registerForm.password.$error"
            ng-if="registerForm.password.$touched || registerForm.$submitted"
          >
            <div ng-message="required">Password is required</div>
            <div ng-message="minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </md-input-container>

        <!-- Error message -->
        <div ng-if="$ctrl.error" class="md-warn">
          {{ $ctrl.error }}
        </div>

        <!-- Submit -->
        <md-button
          type="submit"
          class="md-raised md-primary"
          ng-disabled="registerForm.$invalid"
        >
          Register
        </md-button>
      </md-card-content>
    </md-card>
  </form>
</div>
