<div class="full-size layout-row flex">
  <div class="left-potion"></div>
  <form
    name="registerForm"
    class="registerForm"
    ng-submit="$ctrl.submit(registerForm)"
    novalidate
  >
    <md-card class="md-whiteframe-1dp register-card">
      <md-card-title class="text-center">Register</md-card-title>
      <md-card-content>
        <md-input-container md-no-float class="md-dispaly-container">
          <input
            name="firstName"
            type="text"
            placeholder="First Name"
            required
            ng-model="$ctrl.user.firstName"
          />
          <div ng-messages="registerForm.firstName.$error">
            <div ng-message="required">This Field is required!</div>
          </div>
        </md-input-container>
        <md-input-container md-no-float class="md-dispaly-container">
          <input
            name="lastName"
            type="text"
            placeholder="Last Name"
            required
            ng-model="$ctrl.user.lastName"
          />
          <div ng-messages="registerForm.lastName.$error">
            <div ng-message="required">This Field is required!</div>
          </div>
        </md-input-container>
        <!-- Email -->
        <md-input-container class="md-block">
          <label>Email</label>
          <input
            type="email"
            name="email"
            ng-model="$ctrl.user.email"
            required
          />
          <div
            ng-messages="registerForm.email.$error"
            ng-if="registerForm.email.$touched || registerForm.$submitted"
          >
            <div ng-message="required">Email is required</div>
            <div ng-message="email">Enter a valid email</div>
          </div>
        </md-input-container>

        <!-- Password -->
        <md-input-container class="md-block">
          <label>Password</label>
          <input
            type="password"
            name="password"
            ng-model="$ctrl.user.password"
            required
            minlength="6"
          />
          <div
            ng-messages="registerForm.password.$error"
            ng-if="registerForm.password.$touched || registerForm.$submitted"
          >
            <div ng-message="required">Password is required</div>
            <div ng-message="minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </md-input-container>

        <!-- Password -->
        <md-input-container class="md-block">
          <label>Re Enter Password</label>
          <input
            type="password"
            name="reenterPassword"
            ng-model="$ctrl.user.reenterPassword"
            required
            minlength="6"
          />
          <div
            ng-messages="registerForm.reenterPassword.$error"
            ng-if="
              registerForm.reenterPassword.$touched || registerForm.$submitted
            "
          >
            <div ng-message="required">Password is required</div>
            <div ng-message="minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </md-input-container>

        <!-- Error message -->
        <div ng-if="$ctrl.error" class="md-warn">
          {{ $ctrl.error }}
        </div>

        <!-- Submit -->
        <mat-card-footer class="align-right">
          <md-button
            type="submit"
            class="md-raised md-primary"
            ng-disabled="registerForm.$invalid"
          >
            Register
          </md-button>
        </mat-card-footer>
      </md-card-content>
    </md-card>
  </form>
</div>
