.left-potion {
  width: 50%;
  padding: 20px;
  background-image: url("../../../images/timesheet.jpg");
  background-size: cover;
}

.registerForm {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.register-card {
  width: 90%;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}
